---
import Card from "../Card.astro";
import Container from "../Container.astro";
---

<Container>
  <h2 class="h2 text-c">Services We Offer</h2>
  <div class="tabs">
    <button id="organizationsBtn" data-active
      >Corporate Organizations/&hairsp;Institutions</button
    >

    <button id="individualBtn">Individuals</button>
  </div>
  <div class="information">
    <Card
      data-sort="1"
      cardImage="consulting.jpg"
      cardName="Consulting"
      cardDesc="Experience, insight, and leadership, along with corporate commitment, are required to advance your corporation to new levels of performance and competitiveness. The Kelmac Group® can help you achieve these."
      cardLink="/consulting"
      cardLinkText="Learn More"
      imgAlt="Photo of consulting"
    />
    <Card
      data-sort="1"
      cardImage="consulting.jpg"
      cardName="Auditing"
      cardDesc="The Kelmac Group® offers auditing and assurance services encompassing program management, scheduling, audit execution, and remediation."
      cardLink="/auditing"
      cardLinkText="Learn More"
      imgAlt="Photo of auditing"
    />
    <Card
      data-sort="2"
      cardImage="consulting.jpg"
      cardName="Learning"
      cardDesc="Experience, insight, and leadership, along with corporate commitment, are required to advance your corporation to new levels of performance and competitiveness. The Kelmac Group® can help you achieve these."
      cardLink="/learning"
      cardLinkText="Learn More"
      imgAlt="Photo of learning"
    />
  </div>
</Container>

<style>
  .tabs {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--blue-400);
    grid-template-rows: 1fr;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
  }

  button {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--neutral-100);
    height: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
  }
  .information {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 2rem;
    justify-content: center;
    background-color: var(--blue-700);
    border-radius: 0 0 1rem 1rem;
  }

  [data-active] {
    background-color: var(--blue-700);
  }

  button.individualBtn {
    margin-top: auto;
  }
  button:hover {
    background-color: var(--blue-700);
    opacity: 0.9;
  }
</style>

<script>
  const btnOrg = document.querySelector("#organizationsBtn");
  const btnInd = document.querySelector("#individualBtn");
  const orgs = document.querySelectorAll("[data-sort='1']");

  btnOrg?.addEventListener("click", () => {
    btnOrg.setAttribute("data-active", "");
    btnInd.removeAttribute("data-active");
    orgs.forEach((org) => org.classList.remove("hide"));
  });
  btnInd?.addEventListener("click", () => {
    btnInd.setAttribute("data-active", "");
    btnOrg.removeAttribute("data-active");
    orgs.forEach((org) => org.classList.add("hide"));
  });
</script>
