---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import ToggleInfo from "../components/homepage/ToggleInfo.astro";
import Careers from "../components/Careers.astro";
import ContainerBG from "../components/ContainerBG.astro";
---

<Layout title="Kelmac Group®">
  <ContainerBG isDark classes="hero" background="home-bg.jpg">
    <h1>Industry Leaders in Assurance, Innovation & Creating Value</h1>
    <p class="hero-p">
      Turn your conformity assessment, regulatory compliance, or risk management
      need into a competitive advantage. The Kelmac Group brings a diverse range
      of experience and experienced personnel to innovate and transform your
      need into a competitive advantage. With foresight, innovation, and
      technology we will make history.
    </p>
    <Button theme="blue-400" size="lg">About Us</Button>
  </ContainerBG>
  <ToggleInfo />
  <Container isDark>
    <h2 class="h2 text-c">Certifications & Approvals</h2>
    <p>
      The Kelmac Group® enjoys one of the widest range of ISO certification
      management systems in the conformity and compliance industry, covering
      Quality, Environment, Occupational Health and Safety, Food Safety, Medical
      Devices, Information Technology, and Information Security.
    </p>
    <div class="approvals">
      <img src="/fssc.png" alt="FSSC" />
      <img src="/cqi.png" alt="CQI-IRCA" />
      <img src="/haccp.png" alt="HACCP" />
    </div>
  </Container>
  <Careers />
</Layout>

<style>
  h1 {
    font-size: clamp(2.63rem, calc(1.97rem + 3.26vw), 4.5rem);
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .approvals {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
  }

  .approvals img {
    width: 20rem;
    height: 8rem;
    object-fit: contain;
  }

  @media only screen and (max-width: 60rem) {
    .approvals {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }
  }
</style>
