---
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ServicesCard from "../components/ServicesCard.astro";
import ServiceModelCard from "../components/ServiceModelCard.astro";
const serviceModels = await Astro.glob("../content/learning-models/*.md");
---

<Layout title="Kelamc Group | Consulting">
  <Container isDark classes="hero hero-consult" background="home-bg.jpg">
    <h1 class="h1-lg text-c">Learning</h1>
    <p class="hero-p">
      We know that training people to meet your compliance obligations and drive
      and sustain competitiveness is only half of the journey towards creating a
      lasting culture of compliance and competitiveness within our organization.
      Equally important is our principle that organizations need teaching too.
      Why? Organizations, like people, can be creatures of habit. Old routines
      and behaviors that impede attaining compliance.
    </p>
    <a class="text-c" href="/courses">
      <Button theme="blue-400" size="lg">Our Courses</Button>
    </a>
  </Container>
  <Container>
    <div class="grid two-even">
      <div>
        <h2 class="h2">Learning Topics We Cover</h2>
        <p>
          Experience, insight, and leadership, along with corporate commitment,
          are required to advance your corporation to new levels of performance
          and competitiveness. The Kelmac Group® can help to customize your
          business processes, equip your people with the capabilities and
          organizational culture needed to transform your organization’s
          performance, and sustain the gains associated with a conforming and
          compliance management system and product certification.
        </p>
      </div>
      <Image
        src="/assets/images/learning-1.png"
        class="no-mobile"
        width={600}
        height={400}
        alt="A Learner"
        format="webp"
      />
    </div>
    <div class="card-container">
      <ServicesCard
        cardImage="con-ser-1.png"
        cardName="Quality Management Systems"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-2.png"
        cardName="Information Security"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-3.png"
        cardName="Food Safety"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-4.png"
        cardName="Medical Devices"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-5.png"
        cardName="Occupational Health and Safety"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-6.png"
        cardName="Environmental Management"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
      <ServicesCard
        cardImage="con-ser-7.png"
        cardName="Integrated Management Course"
        cardDesc="If you’re ready to innovate and transform your organization with ISO"
      />
    </div>
  </Container>

  <Container isDark>
    <h2 class="h2 text-c">We Offer Various Delivery Methods</h2>
    <div class="card-container">
      {
        serviceModels.map((model) => {
          return (
            <ServiceModelCard
              cardImage={model.frontmatter.img}
              cardName={model.frontmatter.title}
              cardDesc={model.frontmatter.desc}
              cardList={model.compiledContent()}
            />
          );
        })
      }
    </div>
  </Container>
</Layout>

<style>
  a {
    display: block;
  }

  div.grid {
    place-items: center;
  }

  .card-container {
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
</style>
