---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Stylesheet">
  <h1 class="h1">Heading 1</h1>
  <h2 class="h2">Heading 2</h2>
  <h3 class="h3">Heading 3</h3>
  <h4 class="h4">Heading 4</h4>
  <h5 class="h5">Heading 5</h5>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, quidem soluta?
    Possimus, sapiente quibusdam laboriosam aperiam cumque recusandae officiis
    quae illum vero, accusantium voluptatum nam nulla veniam eos incidunt fugiat
    esse voluptas dolore, nisi impedit eum amet voluptates quas deserunt. Odit
    atque repellat ullam recusandae eius blanditiis saepe consectetur corporis.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat libero eum
    ullam expedita quo consequuntur, id neque accusamus veniam dignissimos
    quidem amet recusandae! Ipsam nostrum, omnis perspiciatis aspernatur
    inventore aliquid velit sit laudantium doloremque. Fugit magni modi deserunt
    similique accusantium?
  </p>
</Layout>
