---
import Container from "./Container.astro";
---

<Container background="city.png">
  <div class="grid two-even">
    <img src="/career.png" alt="" />
    <div>
      <h2 class="h2">Careers at the Kelmac Group®</h2>
      <p>
        Kelmac Group® is always looking for bright, innovative, experienced
        professionals from around the world.
      </p>
    </div>
  </div>
</Container>
