---
const { cardImage, imgAlt = "", cardName, cardDesc } = Astro.props;
---

<div class="card">
  <img
    src={`./assets/images/${cardImage}`}
    alt={imgAlt}
    width={350}
    height={200}
  />
  <div>
    <p class="name">{cardName}</p>
    <p>{cardDesc}</p>
  </div>
</div>
<style>
  .card {
    width: 16rem;
    background-color: var(--blue-700);
    color: var(--neutral-100);
    box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  }

  .card div {
    padding: 1rem;
  }

  .name {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

  .card img {
    object-fit: cover;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    background-color: var(--blue-700);
    color: var(--neutral-100);
    padding: 0.5em 1em;
    display: inline-block;
    margin-top: 0.5rem;
  }
</style>
