---
import ContainerBG from "../../components/ContainerBG.astro";
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import CourseIntro from "../../components/coursedetails/CourseIntro.astro";
import CourseSchedule from "../../components/coursedetails/CourseSchedule.astro";
import CourseAdditional from "../../components/coursedetails/CourseAdditional.astro";
import * as qmsProg from "../../content/courseprogs/9001-fundamentals.md";
---

<Layout
  title="QMS ISO 9001:2015 Fundamentals Training Course | CQI IRCA Certified"
>
  <ContainerBG isDark classes="hero-small" background="city.png">
    <h1 class="h1-lg">
      QMS ISO 9001:2015 Fundamentals Training Course | CQI IRCA Certified
    </h1>
  </ContainerBG>

  <CourseIntro
    certifier="cqi"
    certifierID="1912"
    courseDuration="1 day"
    courseMethods="Online, Virtual, Classroom"
    courseFor="The focus of our Online ISO 9001:2015 Fundamentals Training Course is to comprehensively introduce Learners to Quality Management Systems and provide them with a highly insightful introduction to the purpose, intent and requirements of ISO 9001:2015 plus the business case for adopting ISO 9001. It can be completed anytime, anywhere - fully online 24/7!"
    courseUnique="This training course is a first-of-its-kind, introducing a highly interactive and yet fully online training course for those looking to gain a comprehensive & practical understanding of ISO 9001:2015. We are the first provider in Ireland to launch eLearning for Quality Management & ISO 9001:2015 & now the first and only training provider in the world with a fully online CQI & IRCA Certified online ISO 9001:2015 Foundation Course."
  />

  <CourseSchedule regionSchedule={null} />
  <CourseAdditional
    whoCanAttend={[
      "Any individual requiring a working knowledge and understanding of the ISO 9000 series of standards",
      "Quality professionals/consultants",
      "Presidents/Vice Presidents/CEOs",
      "ISO Coordinators/management representatives",
      "Engineers",
      "Supervisors",
    ]}
    courseBasics={[
      "This is a fully online training course",
      "This course covers EACH clause of ISO 9001:2015",
      "It is the most comprehensive course available including 10 Learning Hours Complete anytime, anywhere",
      "Ideal for those looking to get started & understand the requirements of Quality Management Systems and ISO 9001:2015",
      "Fully Certified by CQI & IRCA!",
    ]}
    courseProg={qmsProg}
  />
</Layout>
