---
import ContainerBG from "../../components/ContainerBG.astro";
import Layout from "../../layouts/Layout.astro";
import CourseIntro from "../../components/coursedetails/CourseIntro.astro";
import CourseSchedule from "../../components/coursedetails/CourseSchedule.astro";
import CourseAdditional from "../../components/coursedetails/CourseAdditional.astro";
import * as qmsProg from "../../content/courseprogs/14001-iac.md";
---

<Layout
  title="CQI-IRCA Certified EMS Internal Auditor Course based on ISO 14001:2015"
>
  <ContainerBG isDark classes="hero-small" background="city.png">
    <h1 class="h1-lg">
      CQI-IRCA Certified EMS Internal Auditor Course based on ISO 14001:2015
    </h1>
  </ContainerBG>

  <CourseIntro
    certifier="cqi"
    certifierID="2296"
    courseDuration="2 days"
    courseMethods="Virtual, Classroom"
    courseFor="The focus of the Kelmac Group® Academy EMS Internal Auditor course is on assisting and equipping the Learner in accelerating their career in EMS Auditing by providing the Learner with a CQI-IRCA Accredited training qualification that enables them conduct a robust and effective EMS audit a process, activity or department/function based upon the requirements of ISO 14001:2015 and in accordance with the requirements of ISO 19011:2018."
    courseUnique="We provide Internal Auditors with both the confidence and ability to apply the audit assurance tools and techniques, methodology & desired behaviours to assess the organization’s EMS processes & process controls to consistently deliver environmental performance results that meet interested party and applicable statutory and regulatory requirements."
  />

  <CourseSchedule
    regionSchedule={[
      {
        region: "Ireland",
        date: "13th-14th September, 2023",
        method: "Virtual",
      },

      {
        region: "Ireland",
        date: "122nd-23rd November, 2023",
        method: "Virtual",
      },
      {
        region: "USA",
        date: "13th-14th September (CDT), 2023",
        method: "Virtual",
      },
      {
        region: "USA",
        date: "8th-9th November (CDT), 2023",
        method: "Virtual",
      },
    ]}
  />
  <CourseAdditional
    whoCanAttend={[
      "Individuals interested in conducting second- or third-party audits of EMS management systems",
      "Environmental Management Representatives",
      "Environmental Consultants",
      "Quality Directors",
      "Environmental Managers",
      "Environmental cross-functional team members of an environmental implementation project",
    ]}
    courseBasics={[
      "This is a two-day (16-hour) learning event.",
      "Start/Finish Times: 8 a.m. – 5:30 p.m. (each day)",
      "Prior Learning Requirement: Learners are required to be familiar with ISO 14001:2015 Requirements or have received ISO 14001:2015 Fundamentals Training in advance of attending this course",
    ]}
    courseProg={qmsProg}
  />
</Layout>
